      <footer class="footer">
        <ul class="footer-links">
          {{ with .OutputFormats.Get "RSS" }}
          <li>
            <a href="{{ .RelPermalink }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
          {{ end }}
        </ul>
      </footer>

    </div>

    {{ template "_internal/google_analytics.html" . }}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fc0c4604ad8648e"></script>
  </body>
</html>
