<nav class="nav">
  <ul class="nav-links">
    <a href="{{ .Site.BaseURL }}" class="nav-logo"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" width="{{ .Site.Params.logo.width }}" height="{{ .Site.Params.logo.height }}"></a>
    <a class="nav-logo nav-links about-link" href="/about/">About</a>
  </ul>
  <ul class="nav-links">
    <!-- {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }} -->
    <li><a href="https://github.com/claudemamo" target="_blank"><i class="nav-icon fa fa-github fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="http://mt.linkedin.com/in/claudemamo" target="_blank"><i class="nav-icon fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
  </ul>
</nav>
